<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= Task.all(:completed => false, :someday_column => nil).count %> tasks :: todo.designedbyscience.com</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Eric Haseltine, eric@designedbyscience.com" />
	<meta name="geo.country" content="US" />
	<meta name="dc.language" content="en" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	
	<link rel="stylesheet" href="assets/css/styles.css" type="text/css" media="screen" charset="utf-8" />
	
	<style type="text/css" media="screen">		
		/*local styles if any (quick tests and local only overrides)*/
	</style>
</head>
<body>
		<div class="user">autodeployed :: current user: <%= User.first(:token => session[:user]).email if session[:user]%></div>
	<div class="wrap" >

		<div class="console">
			
			status: <span class="" id=""></span>
			
		</div>
		<pre>
    ___                                   
  ,--.'|_                 ,---,           
  |  | :,'   ,---.      ,---.'|   ,---.   
  :  : ' :  '   ,'\     |   | :  '   ,'\    ++
.;__,'  /  /   /   |    |   | | /   /   |   ++
|  |   |  .   ; ,. :  ,--.__| |.   ; ,. :   ++
:__,'| :  '   | |: : /   ,'   |'   | |: :   ++
  '  : |__'   | .; :.   '  /  |'   | .; :   ++
  |  | '.'|   :    |'   ; |:  ||   :    |   ++
  ;  :    ;\   \  / |   | '/  ' \   \  /    ++
  |  ,   /  `----'  |   :    :|  `----'     ++
   ---`-'            \   \  /               ++
                      `----'              
</pre>




	</div>
	<%= yield %>	
    <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
</body>
</html>